

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  display: flex;
}

h2 {
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 12px;
}

h3.legendText {
  padding: 5px;
  color: #3b3939;
  font-size: 20px;
  /* referred to https://stackoverflow.com/questions/2570972/css-font-border for shadow styling */
  text-shadow: 1px 1px 0 black,
  -1px 1px 0 black,
  1px -1px 0 black,
  -1px -1px 0 black;
}

#button1 h3:hover {
  cursor: crosshair;
}

h3.innerText:hover {
  color: black;
  font-size: 15px;
}

#sidebar { /*sidebar styling*/
  position: fixed; /* stays in position on scroll */
  top: 0;
  left: 0;
  right: 0; /* setting the length of the sidebar */
  bottom: 90%;
  border-bottom: 2px solid black;
}

#title { /*title styling*/
  text-align: center;
  color: black;
}

#sidebar ul { /* tab list styling */
  list-style-type: none;
  padding: 2px;
  text-align: right;
  border: 1px solid black;
}

#sidebar li { /* individual tab styling */
  display: inline-block;
}

li a { /* tab list element styling */
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  padding-top: 10px;
  top: 0;
  text-decoration: none;
}

li a:hover { /* tab hover */
  opacity: 0.30;
}

li a:active { /* tab press */
  background-color: #55888a;
}

#button1 { /* window for button1 styling */
  top: 100px;
  display: none;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  display: center;
  cursor: move;
  z-index: 1;
  position: absolute;
}

#button1:active {
  z-index: 5;
}

#button2 { /* window for button2 */
  top: 100px;
  display: none;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  display: center;
  cursor: move;
  z-index: 1;
  position: absolute;
}

#button2:active {
  z-index: 5;
}

#button3 { /* window for button3 */
  top: 100px;
  display: none;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  cursor: move;
  z-index: 1;
  position: absolute;
}

#button3:active {
  z-index: 5;
}

#button3 h3 {
  font-size: 18px;
}

div.inter {
  background-color: #55888a;
}

div.footer_b {
  background-color: #ebdcb2;
}

input { /* styling for the file chooser */
  border: none;
}

#button2 button { /* buttons within the controls div */
  padding: 5px;
  border: none;
}

#button2 button:hover {
  border: 1px solid gray;
}

#button2 button:active {
  border: none;
}

#data_ctrl { /* styling for data div in controls */
  background-color: #ebdcb2;
  z-index: 5;
  display: none;
  position: absolute;
  left: 75%;
  top: 10%;
  bottom: 7%;
  right: 0;
  border: 1px solid black;
  overflow: scroll;
}

#data_ctrl th { /* styling for the header for the data div */
  font-size: 25;
}

#data_ctrl h3 { /* styling for text within the data div */
  border: 1px solid black;
  padding-top: 0;
}

#color_pick {
  background-color: #ebdcb2;
  z-index: 5;
  display: none;
  cursor: move;
  border: 1px solid black;
  top: 100px;
  width: 300px;
  height: 150px;
}

#color_pick button {
  position: center;
}

.color_buttons {
  border: 1px solid black;
}

#s1 {
  color: blue;
}

#s2 {
  color: red;
}

#aligned {
  color: green;
}

#ortho {
  color: yellow;
}

#cy { /* cytoscape window */
  position: absolute;
  left: 0;
  top: 10%;
  bottom: 0;
  right: 0;
  background-color: #e6f1f2;
}
