body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  background-color: #e3e4e6;
}

#main-menu {
  margin-bottom: 5%;
  font-size: 15px;
}

#main-menu li {
  margin-left: 12px;
}

#main-title { /*title styling*/
  font-size: 30px;
  color: white;
  cursor: pointer;
}

#select-label {
  display: flex;
  flex-direction: column;
  color: white;
}

/* code snippet taken from https://stackoverflow.com/questions/572768/styling-an-input-type-file-button */
/* styling JSON selection button */
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #eee;
    color: white;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-file-upload:hover {
  border: 1px solid black;
  color: black;
  background-color: white;
}

#cy { /* cytoscape window */
  left: 5%;
  right: 5%;
  top: 15%;
  bottom: 5%;
  position: absolute;
  background-color: #f5f6fa;
  border: 1px solid black;
  z-index: 1;
}

#resetView {
  z-index: 4;
  position: absolute;
  width: 50px;
  top: 40%;
}

.sidebar-container { /* div surrounding sidebar */
  position: absolute;
  top: 15%;
  left: 1%;
  width: 25%;
}

#sidebar {
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 100px;
  padding-right: 10px;
}

#sidebar div {
  width: fit-content;
  display: none;
  padding-right: 8px;
}

#sidebar h2 {
  text-decoration: underline;
  font-size: 20px;
  font-style: italic
}

h3.legendText {
  padding: 5px;
  color: #3b3939;
  font-size: 20px;
  /* referred to https://stackoverflow.com/questions/2570972/css-font-border for shadow styling */
  text-shadow: 1px 1px 0 black,
  -1px 1px 0 black,
  1px -1px 0 black,
  -1px -1px 0 black;
}

.buttons .innerText { /* text within window */
  padding-left: 20px;
}

div.inter {
  background-color: #55888a;
}

#b2_data {
  text-align: left;
  width: 150px;
  border: .5px dotted black;
}

#b2_colors {
  text-align: left;
  width: 150px;
  border: .5px dotted black;
}

#data_ctrl { /* styling for data div in controls */
  display: none;
  top: 15%;
}

#data_ctrl button {
  border: 1px solid black;
  padding: 6px 12px;
  background-color: #e3e4e6;
  cursor: pointer;
}

#data_ctrl button:hover {
  border: 1px solid white;
  background-color: black;
  color: white;
}

#data_ctrl th { /* styling for the header for the data div */
  font-size: 25;
}

#data_ctrl h3 { /* styling for text within the data div */
  border: 1px solid black;
  padding-top: 0;
}

#color_pick span {
  padding-left: 20px;
  padding-right: 50px;
}

#color_pick input {
  padding-left: 40px;
  margin-left: 30px;
}

.color_buttons {
  border: 1px solid black;
}

#s1 {
  color: blue;
}

#s2 {
  color: red;
}

#aligned {
  color: green;
}